:root {
  --main-color: #2d1b4e;
  --bg-variable: #ffffff26;
}

.body {
  -webkit-text-fill-color: inherit;
  background-color: #b500f678;
  background-clip: border-box;
  border: 0 #0000;
  border-radius: 0;
}

.container__class {
  max-width: 100%;
  max-height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px;
}

.navbar {
  background-color: #fff;
}

.image {
  border-radius: 20px;
  max-height: 100%;
}

.navbar-2 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu {
  justify-content: space-between;
  display: flex;
}

.div-block {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.button {
  background-color: var(--main-color);
  border-radius: 20px;
  margin-left: 8px;
}

.container {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.div-block-2 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  align-items: center;
  display: flex;
}

.div-block-3 {
  align-items: center;
  display: flex;
}

.navbar-3 {
  justify-content: center;
  align-items: center;
  display: block;
}

.nav-menu-2 {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.navbar-4 {
  color: var(--main-color);
  letter-spacing: 2px;
  background-color: #0000;
  margin-left: auto;
  margin-right: 16px;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  position: absolute;
}

.nav-menu-3 {
  flex: 1;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.div-block-4 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.div-block-5 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  display: flex;
}

.button-2 {
  background-color: #2d1b4e;
  border-radius: 20px;
}

.containers {
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  background-color: #ffffff40;
  border: 1px solid #ffffff4d;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-height: 100vh;
  margin: 15px;
  padding: 0;
  display: flex;
}

.paragraph {
  font-family: Philosopher, sans-serif;
  font-size: 60px;
  font-weight: 700;
}

.heading {
  font-family: Lato, sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.div-block-6 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  background-color: #ffffff1f;
  border: 1px solid #ffffff4d;
  border-radius: 24px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  display: flex;
}

.div-block-7 {
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav-link {
  color: #2d1b4e;
}

.code-embed {
  border-radius: 0;
  margin: 0;
  padding: 0;
}

.section {
  margin: 0;
}

.body-2 {
  background-color: #0000;
}

.code-embed-2 {
  margin-bottom: 0;
}


